{% extends '::base.html.twig' %}

{% block title %}AppBundle:Advertisement:show{% endblock %}

{% block body %}
    <h2>{{ advertisement.title }}</h2>
    <p>{{ advertisement.description }}</p>
{% endblock %}
